# Ignore environment variables
.env
.env.local

# Python
.venv

# Test / coverage artifacts
.pytest_cache/
.coverage
htmlcov/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# MacOS
.DS_Store
